# ------------------------------
# Python
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Env
venv/
.env

# ------------------------------
# Uploads / Runtime Data
# ------------------------------
uploaded_docs/

# ------------------------------
# Frontend (React / Vite)
# ------------------------------
frontend/node_modules/
frontend/dist/

# ------------------------------
# OS / Misc
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log