fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-jose
passlib[bcrypt]

sqlalchemy
asyncpg
redis

python-multipart
python-dotenv
requests
gunicorn
PyPDF2

sentence-transformers==2.7.0
faiss-cpu==1.13.2
torch==2.7.1
