fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-jose

sqlalchemy
psycopg2-binary>=2.9
asyncpg
redis

python-multipart
python-dotenv
requests
gunicorn
PyPDF2

sentence-transformers==2.7.0
faiss-cpu==1.13.2
torch==2.7.1
pydantic[email]

passlib==1.7.4
bcrypt==3.2.2
