/* src/styles/utilities.css */

.flex {
    display: flex;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap {
    gap: 10px;
}

.text-muted {
    color: var(--muted);
}