/* src/styles/variables.css */

:root {
    --bg: #0f172a;
    --sidebar: #111827;
    --card: #1f2937;

    --primary: #3b82f6;
    --primary-hover: #2563eb;

    --text: #e5e7eb;
    --muted: #9ca3af;

    --border: #374151;
}